<div class="container">
    <div>
        <div class="row">
            <h1>Listado de Categorías</h1>
        </div>

        <div class="row">
            <div class="col-log-3">
                <button (click)="registrarCategoria()" class="btn btn-primary btm-sm-3">Agregar categoría</button>
            </div>
        </div>
        <br>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Plato</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cate of categorias$ | async">
                    <td>{{cate.nombre}}</td>
                    <td>
                        <div *ngFor="let plato of cate.plato">
                            {{ plato.nombre }}
                        </div>
                    </td>
                    <td>
                        <button (click)="actualizarCategoria(cate.id)" class="btn btn-info">Editar</button>
                        <button (click)="eliminarCategoria(cate.id)" class="btn btn-danger"
                            style="margin-left : 10px;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div class="row">
            <h1>Listado de Platos</h1>
        </div>

        <div class="row">
            <div class="col-log-3">
                <button (click)="registrarCategoria()" class="btn btn-primary btm-sm-3">Agregar categoría</button>
            </div>
        </div>
        <br>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Plato</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cate of categorias$ | async">
                    <td>{{cate.nombre}}</td>
                    <td>
                        <div *ngFor="let plato of cate.plato">
                            {{ plato.nombre }}
                        </div>
                    </td>
                    <td>
                        <button (click)="actualizarCategoria(cate.id)" class="btn btn-info">Editar</button>
                        <button (click)="eliminarCategoria(cate.id)" class="btn btn-danger"
                            style="margin-left : 10px;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>