<div class="menu-container">

    <h1 class="titulo">🍗 Nuestra Carta</h1>

    <div *ngFor="let cate of categorias$ | async">
        <br>
        <div class="alpha-header">
            <h2 class="categoria">🔥 {{cate.nombre}}</h2>
        </div>
        
        <div class="menu-grid">
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let plato of cate.plato?.sort((a,b) => a.nombre.localeCompare(b.nombre))">
                    <!-- CARD -->
                    <div class="card">
                        <div class="img-container">
                            <img [src]="plato.imagen" style="width: 50%; margin-left: 80px;">
                            <span class="tag">🔥 Más pedido</span>
                        </div>

                        <div class="card-body">
                            <h3>{{plato.nombre}}</h3>
                            <p>{{plato.descripcion}}</p>

                            <div class="bottom">
                                <span class="precio">S/ {{plato.precio}}</span>
                                <div *ngIf="cate.nombre!=='Cremas' && cate.nombre!=='Bebidas'">
                                    <button class="btn btn-success" (click)="realizarCompra(plato.id)">Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!cate.plato || cate.plato.length === 0">
            <p>No hay platos en esta categoría.</p>
        </div>
    </div>
</div>
