<div [ngClass]="themeServicio.getTheme()" style="transition: 1s;">
  <app-header></app-header>

  <div class="container">
    <router-outlet></router-outlet>
    <div *ngIf="authServicio.logueado()">
      <div *ngIf="usuario">
        <div *ngIf="esAdmin">
          <button (click)="irDashboard()" class="dashboard">D</button>

          <button (click)="venta()" class="boton-venta">🛒</button>
        </div>
      </div>

      <div *ngIf="!esAdmin">
        <button (click)="venta()" class="boton-venta">🛒</button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>