<div [ngClass]="themeServicio.getTheme()" style="transition: 1s;">
  <app-header></app-header>

  <div class="">
    <router-outlet></router-outlet>

    <div class="chat-flotante">
      <div class="chat-boton" (click)="toggleChat()" *ngIf="!chatAbierto">
        💬
      </div>

      <div class="chat-ventana" *ngIf="chatAbierto">
        <div class="chat-header">
          <span>🤖 Asistente El Sazón</span>
          <button (click)="toggleChat()">✖</button>
        </div>

        <div class="chat-mensajes">
          <div *ngFor="let m of mensajes" class="mensaje" [ngClass]="m.role">
            <div class="contenedor-mensaje">
              <span class="nombre">{{m.role=='user' ? 'Tú:' : '🤖 Asistente:'}}</span>

              <div class="burbuja">
                <div [innerHTML]="m.content"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-input">
          <input type="text" [(ngModel)]="mensaje" (keyup.enter)="enviar()" placeholder="Escriba un mensaje">
          <button (click)="enviar()">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>