<div class="container">
    <br>
    <section id="usuarios">
        <div class="row">
            <h1>Listado de Usuarios</h1>
        </div>

        <div class="row">
            <div class="col-log-3 mr-4">
                <button class="btn btn-primary" (click)="volverDashboard()">Dashboard</button>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-container text-center table-striped table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Zona</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let usu of usuarios$ | async">
                        <td>{{usu.nombre}}</td>
                        <td>{{usu.apellido}}</td>
                        <td>{{usu.direccion}}</td>
                        <td>{{usu.telefono}}</td>
                        <td>{{usu.username}}</td>
                        <td>
                            <div *ngFor="let rol of usu.roles">
                                <span *ngIf="rol.nombre==='ROLE_USER'">
                                    Usuario
                                </span>

                                <span *ngIf="rol.nombre==='ROLE_ADMIN'">
                                    Administrador
                                </span>

                                <span *ngIf="rol.nombre==='ROLE_COCINERO'">
                                    Cocinero
                                </span>
                            </div>
                        </td>
                        <td>{{usu.zona?.nombre}}</td>
                        <td>
                            <button class="btn btn-info" (click)="actualizarUsuario(usu.id)">Actualizar</button>
                            <button class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>