* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 280px;
    background: linear-gradient(180deg,
            #ff8c42,
            #ff6b35);
    position: fixed;
    left: 0;
    top: 10;
    height: 100%;
    padding: 20px;
    box-shadow: 5px 0 25px rgba(0, 0, 0, .15);
}

.logo {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    border: none;
    background: rgba(255, 255, 255, .15);
    color: white;
    border-radius: 12px;
    padding: 15px;
    text-align: left;
    transition: .3s;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-item:hover {
    background: white;
    color: #ff6b35;
    transform: translateX(5px);
}

.menu-item.active {
    background: white;
    color: #ff6b35;
    transform: translateX(5px);
}

.contenido {
    margin-left: 280px;
    padding: 30px;
    width: 100%;
}

.kpi-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.kpi-card {
    border-radius: 18px;
    padding: 25px;
    color: white;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.kpi-card:hover {
    transform: translateY(-5px);
}

.kpi-card i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.kpi-card h3 {
    font-size: 2rem;
    margin: 0;
}

.kpi-card span {
    opacity: .9;
}

.kpi-ocupado {
    background: linear-gradient(135deg,
            #e74c3c,
            #ff7675);
}

.kpi-esperando {
    background: linear-gradient(135deg,
            #ff8c42,
            #ffb347);
}

.kpi-libre {
    background: linear-gradient(135deg,
            #27ae60,
            #2ecc71);
}