<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/index/cards.css">
    <style>
        img {
            width: 100px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href=""><img src="../imagenes/nuevoLogo.png"></a>

        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link"><i class="bi bi-house-door-fill"></i>Inicio</a></li>
                <li class="nav-item"><a th:href="@{/carta}" class="nav-link"><i class="bi bi-fork-knife"></i>Carta</a>
                </li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-percent"></i>Ofertas</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-person-standing"></i>Nosotros</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-person-circle"></i>Cuenta</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-cart"></i>Carro</a></li>
                <li class="nav-item"><a th:href="@{/prueba}" class="nav-link">Prueba</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <h1>Listado de Usuarios</h1>
        </div>

        <div class="row">
            <div class="col-log-3">
                <a href="" class="btn btn-primary btn-sm-3">Registrar</a>
            </div>
            <br>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="usuario: ${usuarios}">
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.apellido}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.password}"></td>
                        <td>
                            <a th:href="@{/prueba/usuario/editar/{id}(id=${usuario.id})}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <a th:href="@{usuario/eliminar/{id}(id=${usuario.id})}" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>