<div class="container">
  <section class="contacto">
    <h2 class="titulo">Contáctanos</h2>

    <div class="contacto-info">
      <div class="info-card">
        <h3>📍 Ubicación</h3>
        <p class="texto">Av. Principal 123, Lima</p>
      </div>

      <div class="info-card">
        <h3>📞 Teléfono</h3>
        <p class="texto">987 654 321</p>
      </div>

      <div class="info-card">
        <h3>🕒 Horario</h3>
        <p class="texto">12:00 PM - 11:00 PM</p>
      </div>

      <div class="info-card">
        <h3>✉️ Email</h3>
        <p class="texto">elsazon@gmail.com</p>
      </div>
    </div>

    <div class="contacto-form">
      <form (ngSubmit)="onSubmit()" #mensajeForm="ngForm">
        <div class="input-group">
          <input type="text" name="nombre" id="nombre" [(ngModel)]="mensaje.nombre" #nombre="ngModel" required>
          <label>Nombre</label>
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors?.['required']">
              Digite su nombre por favor
            </div>
          </div>
        </div>

        <div class="input-group">
          <input type="email" name="correo" id="correo" [(ngModel)]="mensaje.correo" #correo="ngModel"
            pattern="^[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@gmail\.com$" required>
          <label>Correo</label>
          <div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
            <div *ngIf="correo.errors?.['required']">
              Digite su correo por favor
            </div>
            <div *ngIf="correo.errors?.['pattern']">
              Digite correctamente el correo. Por ejemplo, ejemplo@gmail.com
            </div>
          </div>
        </div>

        <div class="input-group">
          <textarea name="descripcion" rows="5" id="descripcion" [(ngModel)]="mensaje.descripcion"
            #descripcion="ngModel" required></textarea>
          <label>Mensaje</label>
          <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
            <div *ngIf="descripcion.errors?.['required']">
              Digite el mensaje
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="!mensajeForm.form.valid">Enviar mensaje</button>
      </form>
    </div>
  </section>
</div>