<div class="afuera" *ngIf="active==='puerta'" [class.abrir]="abriendo" (click)="abrirPuertas()">
    <div class="fachada">
        <div class="planta">
            <div class="maceta"></div>
            <div class="tallo"></div>
            <div class="hojas hoja1"></div>
            <div class="hojas hoja2"></div>
        </div>

        <div class="ventana">
            <div class="vidrio"></div>
        </div>

        <div>
            <div class="ventana-pequeña">
                <div class="vidrio-pequeño"></div>
            </div>
            <br>
            <div class="letrero">
                <span class="icono">🍗</span>
                POLLERÍA EL SAZÓN
            </div>
            <br>
            <div class="puerta-doble">
                <div class="hoja izq"></div>
                <div class="hoja der"></div>
            </div>
        </div>

        <div class="ventana">
            <div class="vidrio"></div>
        </div>

        <div class="planta">
            <div class="maceta"></div>
            <div class="tallo"></div>
            <div class="hojas hoja1"></div>
            <div class="hojas hoja2"></div>
        </div>
    </div>

    <div class="piso">a</div>
</div>

<div class="tab-content">
    <div [ngClass]="active == 'salaUno' ? 'tab-pane fade show active' : 'tab-pane fade'">
        <div class="paredes">
            <div class="interior-arriba">
                <div class="pared-1"></div>
                <div class="ventana-dentro-1"></div>
                <div class="pared-1"></div>
            </div>

            <button class="boton-vuelta" (click)="onPuertaTab()"><i
                    class="material-icons icono-flecha">arrow_circle_up</i></button>

            <div class="interior-arriba">
                <div class="pared-2"></div>
                <div class="ventana-dentro-1"></div>
                <div class="pared-2"></div>
            </div>
        </div>

        <div class="sala-uno">
            <div class="pared-3"></div>

            <div class="area-mesas">
                <!--<div class="planta-dentro">
                    <div class="hoja-dentro h1"></div>
                    <div class="hoja-dentro h2"></div>
                    <div class="hoja-dentro h3"></div>
                    <div class="hoja-dentro h4"></div>
                    <div class="hoja-dentro h5"></div>
                    <div class="hoja-dentro h6"></div>
                    <div class="hoja-dentro h7"></div>
                    <div class="hoja-dentro h8"></div>
                    <div class="centro-dentro"></div>
                </div>-->

                <div class="card-total">
                    <div class="card-4">
                        <div *ngFor="let _ of cantidadMesas; let i = index">
                            <ng-container *ngIf="mesaCuatro[i]; else mesaVacia">
                                <div class="mesa mesa-4" (click)="obtenerMesaPorId(mesaCuatro[i].id )">
                                    <div class="silla top-1"></div>
                                    <div class="silla bottom-1"></div>
                                    <div class="silla top-2"></div>
                                    <div class="silla bottom-2"></div>
                                    <div class="tablero tablero-4">
                                        M{{ i + 1 }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #mesaVacia>
                                <div>
                                    <div class="mesa-vacia">
                                        <i class="material-icons icono">info</i>
                                        <h4>Sin mesa</h4>
                                        <p>Todavía no registró esta mesa.</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="titulo-sala">
                        <p class="nombre-sala">Sala Uno</p>
                    </div>

                    <div class="card-6">
                        <div *ngFor="let _ of cantidadMesasSeis; let i = index">
                            <ng-container *ngIf="mesaSeis[i]; else mesaVaciaSeis">
                                <div class="mesa mesa-6" (click)="obtenerMesaPorId(mesaSeis[i].id )">
                                    <div class="silla top-1"></div>
                                    <div class="silla bottom-1"></div>
                                    <div class="silla top-2"></div>
                                    <div class="silla bottom-2"></div>
                                    <div class="silla left-1"></div>
                                    <div class="silla right-1"></div>
                                    <div class="tablero tablero-4">
                                        M{{ mesaCuatro.length + i + 1 }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #mesaVaciaSeis>
                                <div>
                                    <div class="mesa-vacia">
                                        <i class="material-icons icono">info</i>
                                        <h4>Sin mesa</h4>
                                        <p>Todavía no registró esta mesa.</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="interior-derecha">
                <div class="pared-4 mb-4"></div>

                <button class="boton-vuelta boton-derecha" (click)="entrarSalaTres()"><i
                        class="material-icons icono-flecha">arrow_circle_right</i></button>

                <div class="pared-4 mt-4"></div>
            </div>
        </div>

        <div class="paredes-abajo">
            <div class="pared-1"></div>
            <button class="boton-vuelta" (click)="entrarSalaDos()"><i
                    class="material-icons icono-flecha">arrow_circle_down</i></button>
            <div class="pared-2"></div>
        </div>
    </div>

    <div [ngClass]="active == 'salaDos' ? 'tab-pane fade show active' : 'tab-pane fade'">
        <div class="paredes-abajo">
            <div class="pared-1"></div>
            <button class="boton-vuelta" (click)="entrarSalaUno()"><i
                    class="material-icons icono-flecha">arrow_circle_up</i></button>
            <div class="pared-2"></div>
        </div>

        <div class="sala-uno">
            <div class="pared-3"></div>

            <div class="area-mesas">
                <div class="card-total">
                    <div class="card-10">
                        <div *ngFor="let _ of cantidadMesasDiez; let i = index">
                            <ng-container *ngIf="mesaDiez[i]; else mesaVaciaDiez">
                                <div class="mesa mesa-10" (click)="obtenerMesaPorId(mesaDiez[i].id )">
                                    <div class="silla top-1-10"></div>
                                    <div class="silla top-2-10"></div>
                                    <div class="silla bottom-1-10"></div>
                                    <div class="silla bottom-2-10"></div>
                                    <div class="silla left-1-10"></div>
                                    <div class="silla left-2-10"></div>
                                    <div class="silla left-3-10"></div>
                                    <div class="silla right-1-10"></div>
                                    <div class="silla right-2-10"></div>
                                    <div class="silla right-3-10"></div>
                                    <div class="tablero tablero-10">
                                        M{{ mesaCuatro.length + mesaSeis.length + i + 1 }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #mesaVaciaDiez>
                                <div>
                                    <div class="mesa-vacia">
                                        <i class="material-icons icono">info</i>
                                        <h4>Sin mesa</h4>
                                        <p>Todavía no registró esta mesa.</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="titulo-sala">
                        <p class="nombre-sala">Sala Dos</p>
                    </div>

                    <div class="card-8">
                        <div *ngFor="let _ of cantidadMesasOcho; let i = index">
                            <ng-container *ngIf="mesaOcho[i]; else mesaVaciaOcho">
                                <div class="mesa mesa-8" (click)="obtenerMesaPorId(mesaOcho[i].id )">
                                    <div class="silla top-1-8"></div>
                                    <div class="silla bottom-1-8"></div>
                                    <div class="silla left-1-10"></div>
                                    <div class="silla left-2-10"></div>
                                    <div class="silla left-3-10"></div>
                                    <div class="silla right-1-10"></div>
                                    <div class="silla right-2-10"></div>
                                    <div class="silla right-3-10"></div>
                                    <div class="tablero tablero-8">
                                        M{{ mesaCuatro.length + mesaSeis.length + mesaDiez.length + i + 1 }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-template #mesaVaciaOcho>
                                <div>
                                    <div class="mesa-vacia">
                                        <i class="material-icons icono">info</i>
                                        <h4>Sin mesa</h4>
                                        <p>Todavía no registró esta mesa.</p>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pared-4"></div>
        </div>


        <div class="pared-2"></div>
    </div>

    <div [ngClass]="active == 'salaTres' ? 'tab-pane fade show active' : 'tab-pane fade'">
        <div class="paredes">
            <div class="interior-arriba">
                <div class="pared-1"></div>
                <div class="ventana-dentro-1"></div>
                <div class="pared-1"></div>
            </div>

            <div class="pared-1"></div>

            <div class="interior-arriba">
                <div class="pared-2"></div>
                <div class="ventana-dentro-1"></div>
                <div class="pared-2"></div>
            </div>
        </div>

        <!--<div class="sala-uno">
            <div class="interior-derecha">
                <div class="pared-4 mb-4"></div>

                <button class="boton-vuelta boton-izquierda" (click)="entrarSalaUno()"><i
                        class="material-icons icono-flecha">arrow_circle_left</i></button>

                <div class="pared-4 mt-4"></div>
            </div>

            <div class="area-mesas">
                <div class="card-total">
                    <div class="card-4">
                        <div class="mesa mesa-4" (click)="seleccionarMesa('mesa1')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="tablero tablero-4">M1</div>
                        </div>

                        <div class="mesa mesa-4" (click)="seleccionarMesa('mesa2')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="tablero tablero-4">M2</div>
                        </div>

                        <div class="mesa mesa-4" (click)="seleccionarMesa('mesa3')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="tablero tablero-4">M3</div>
                        </div>

                        <div class="mesa mesa-4" (click)="seleccionarMesa('mesa4')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="tablero tablero-4">M4</div>
                        </div>

                        <div class="mesa mesa-4" (click)="seleccionarMesa('mesa5')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="tablero tablero-4">M5</div>
                        </div>

                        <div class="mesa mesa-4" (click)="seleccionarMesa('mesa6')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="tablero tablero-4">M6</div>
                        </div>
                    </div>

                    <div class="titulo-sala">
                        <p class="nombre-sala">Proceso</p>
                    </div>

                    <div class="card-6">
                        <div class="mesa mesa-6" (click)="seleccionarMesa('mesa7')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="silla left-1"></div>
                            <div class="silla right-1"></div>
                            <div class="tablero tablero-4">M7</div>
                        </div>

                        <div class="mesa mesa-6" (click)="seleccionarMesa('mesa8')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="silla left-1"></div>
                            <div class="silla right-1"></div>
                            <div class="tablero tablero-4">M8</div>
                        </div>

                        <div class="mesa mesa-6" (click)="seleccionarMesa('mesa9')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="silla left-1"></div>
                            <div class="silla right-1"></div>
                            <div class="tablero tablero-4">M9</div>
                        </div>

                        <div class="mesa mesa-6" (click)="seleccionarMesa('mesa10')">
                            <div class="silla top-1"></div>
                            <div class="silla bottom-1"></div>
                            <div class="silla top-2"></div>
                            <div class="silla bottom-2"></div>
                            <div class="silla left-1"></div>
                            <div class="silla right-1"></div>
                            <div class="tablero tablero-4">M10</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pared-3"></div>
        </div>-->


    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pedido Actual</h1>
                </div>

                <button type="button" class="btn-close btn-primary" style="border-radius: 50px; width: 25px;"
                    data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div *ngIf="pedidoActual.length===0">
                    <button class="btn btn-danger boton-agregar-pedido" (click)="irRegistrarPedidoMesa(id)">+</button>
                    <div class="seleccion-vacia">
                        <i class="material-icons icono">info</i>
                        <h4>Sin pedido todavía</h4>
                        <p>Esta mesa todavía no tiene un pedido.</p>
                    </div>
                </div>

                <div *ngIf="pedidoActual.length>0">
                    <div *ngFor="let pa of pedidoActual">
                        <div class="pedido-actual-card">
                            <div class="pedido-header"
                                [ngClass]="{'estado-pendiente': pa.estado=='Pendiente','estado-preparacion': pa.estado=='Preparando','estado-listo': pa.estado=='Listo'}">
                                <div>
                                    <h4>
                                        <i class="material-icons">table_restaurant</i>
                                        Mesa {{pa.mesa}}
                                    </h4>

                                    <span>{{pa.fecha}}</span>
                                </div>

                                <span class="estado"
                                    [ngClass]="{'pendiente': pa.estado=='Pendiente','preparacion': pa.estado=='Preparando','listo': pa.estado=='Listo'}">
                                    {{pa.estado}}
                                </span>
                            </div>

                            <div class="pedido-body">
                                <div class="info">
                                    <div class="item">
                                        <i class="material-icons">shopping_cart</i>

                                        <div class="info-item">
                                            <span>Cantidad:</span>
                                            <strong>{{pa.cantidad}}</strong>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <i class="material-icons">payments</i>

                                        <div class="info-item">
                                            <span>Método de pago:</span>

                                            <span class="badge"
                                                [ngClass]="{'bg-success': pa.metodopago=='Efectivo','bg-primary': pa.metodopago=='Yape','bg-info': pa.metodopago=='Plin'}">
                                                {{pa.metodopago}}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <i class="material-icons">receipt_long</i>

                                        <div class="info-item">
                                            <span>Total:</span>
                                            <strong>S/. {{pa.total}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="descripcion">
                                    <h6>
                                        <i class="material-icons">restaurant_menu</i>
                                        Pedido
                                    </h6>

                                    <p>{{pa.descripcion}}</p>
                                </div>

                                <div class="observacion" *ngIf="pa.observacion">
                                    <h6>
                                        <i class="material-icons text-warning">warning</i>
                                        Observación
                                    </h6>
                                    <p>{{pa.observacion}}</p>
                                </div>
                            </div>

                            <div class="card-footer" *ngIf="pa.estado==='Listo'">
                                <div class="grid-botones">
                                    <div class="row">
                                        <div class="col-md-4" *ngFor="let met of metodoPago">
                                            <div class="metodo-card"
                                                [class.seleccionado]="metodoPagoSeleccionado?.id === met.id"
                                                (click)="seleccionarItem(met)">
                                                <div *ngIf="met.nombre==='Yape'" class="metodo yape">
                                                    <img src="yape.png">
                                                    <span>{{met.nombre}}</span>
                                                </div>

                                                <div *ngIf="met.nombre==='Efectivo'" class="metodo efectivo">
                                                    <img src="efectivo.png">
                                                    <span>{{met.nombre}}</span>
                                                </div>

                                                <div *ngIf="met.nombre==='Plin'" class="metodo plin">
                                                    <img src="plin.png">
                                                    <span>{{met.nombre}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success"
                                        (click)="completarPedidoMesa(pa.mesa, pa.id)">Completar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>