.dark :host ::ng-deep .table {
  color: white !important;
}

/*.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}*/