<div class="container">
    <div>
        <!--##############################################################################################################################
        ####                                                Categorías                                                                ####
        ###############################################################################################################################-->
        <div class="row">
            <div class="col-6">
                <h1>Listado de Categorías</h1>
            </div>

            <div class="col-2"></div>
            <div class="col-2"></div>

            <div class="col-2 btn btn-sm-3 d-flex justify-content-end">
                <button (click)="volverDashboard()" class="btn btn-primary">Dashboard</button>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <button (click)="registrarCategoria()" class="btn btn-primary btm-sm-3">Agregar categoría</button>
            </div>
        </div>
        <br>

        <table mat-table [dataSource]="dataSourceCategoria" matSort class="table table-container text-center table-striped table-bordered table-hover">

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                <td mat-cell *matCellDef="let cat" class="text-center align-middle">{{ cat.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="plato">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Plato </th>
                <td mat-cell *matCellDef="let cat">

                    <div *ngFor="let plato of cat.plato">
                        {{ plato.nombre }}
                    </div>

                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                <td mat-cell *matCellDef="let cat" class="text-center align-middle">

                    <button (click)="actualizarCategoria(cat.id)" class="btn btn-info">
                        Editar
                    </button>

                    <button (click)="eliminarCategoria(cat.id)" class="btn btn-danger" style="margin-left:10px;">
                        Eliminar
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCate"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCate;"></tr>

        </table>

        <mat-paginator #paginadorCate [pageSize]="3" [pageSizeOptions]="[3,5,9]" showFirstLastButtons></mat-paginator>
    </div>
    <br>
    <hr><br>
    <div>
        <!--##############################################################################################################################
        ####                                                   Platos                                                                 ####
        ###############################################################################################################################-->
        <div class="row">
            <h1>Listado de Platos</h1>
        </div>

        <div class="row">
            <div class="col-log-3">
                <button (click)="registrarPlato()" class="btn btn-primary btm-sm-3">Agregar Plato</button>
            </div>
        </div>
        <br>
        <table mat-table [dataSource]="dataSourcePlato"
            class="table table-container text-center table-striped table-bordered table-hover responsive">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let pla">{{ pla.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoría </th>
                <td mat-cell *matCellDef="let pla">{{ pla.categoria?.nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let pla">{{ pla.descripcion }}</td>
            </ng-container>

            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let pla">{{ pla.precio }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let pla">
                    <button (click)="actualizarPlato(pla.id)" class="btn btn-info">Editar</button>
                    <button (click)="eliminarPlato(pla.id)" class="btn btn-danger"
                        style="margin-left: 10px;">Eliminar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>

        <mat-paginator #paginadorPlato [pageSize]="5" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>
    <br>
    <hr><br>
    <div>
        <!--##############################################################################################################################
        ####                                                   Ofertas                                                                ####
        ###############################################################################################################################-->
        <div class="row">
            <div class="col-6">
                <h1>Listado de Ofertas</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-log-3">
                <button (click)="registrarOferta()" class="btn btn-primary btn-sm-3">Agregar ofertas</button>
            </div>
        </div>
        <br>
        <table class="table table-container text-center table-striped table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Actual</th>
                    <th scope="col">Precio Nuevo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let ofe of ofertas$ | async">
                    <td>{{ofe.nombre}}</td>
                    <td>{{ofe.descripcion}}</td>
                    <td>{{ofe.cantidad}}</td>
                    <td>{{ofe.precio_actual}}</td>
                    <td>{{ofe.precio_nuevo}}</td>
                    <td>
                        <button (click)="actualizarOferta()" class="btn btn-info">Actualizar</button>
                        <button (click)="eliminarOferta(ofe.id)" class="btn btn-danger"
                            style="margin-left: 10px;">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <!--##############################################################################################################################
        ####                                              Ingrediente                                                                 ####
        ###############################################################################################################################-->
        <div class="row">
            <div class="col-6">
                <h1>Listado de Ingredientes</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-log-3">
                <button (click)="registrarIngrediente()" class="btn btn-primary btn-sm-3">Agregar ingrediente</button>
            </div>
        </div>
        <br>
    </div>
</div>