<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
		img{
			width:100px;
		}
	</style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href=""><img src="../imagenes/nuevoLogo.png"></a>
		
		<div class="collapse navbar-collapse d-flex flex-row-reverse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a th:href="@{inicio}" class="nav-link"><i class="bi bi-house-door-fill"></i>Inicio</a></li>
                <li class="nav-item"><a th:href="@{carta}" class="nav-link"><i class="bi bi-fork-knife"></i>Carta</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-percent"></i>Ofertas</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-person-standing"></i>Nosotros</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-person-circle"></i>Cuenta</a></li>
                <li class="nav-item"><a class="nav-link"><i class="bi bi-cart"></i>Carro</a></li>
			</ul>
		</div>
	</nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-log-6 col-md-6 col-sm6 container justify-content-center card">
                <h1 class="text-center">Edición de Platos</h1>

                <div class="card-body">
                    <form th:action="@{/prueba/plato/{id}(id=${plato.id})}" th:object="${plato}" method="post" id="formularioEdicionPlato">
                        <div class="form-group">
                            <label for="nombre">Nombre: </label>
                            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Ingrese un nombre" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="precio">Precio: </label>
                            <input type="number" id="precio" name="precio" th:field="*{precio}" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Ingrese una descripcion" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="categoria">Categoría: </label>
                            <select th:field="*{categoria}" name="categoria" required>
                                <option th:value="${plato.categoria.id}" th:text="${plato.categoria.nombre}">Seleccione la categoría</option>
                                <option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                            </select>
                        </div>
                        <br>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{../../../js/validacion/plato/edicion.js}"></script>
</body>
</html>